.contact 
{
    background-image: url('../../../../public/images/portfolio/contact.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}
.contactme-title
{
    color: #302e4d !important;
}
.contact .section-title
{
    margin-top: 100px;
}
.contact-title
{
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
}
.contact-sub-title
{
    color: #302e4d;
    text-align: center;
    font-size: 15px;
    margin-bottom: 40px;
}
.contact .contact-info-item
{
    
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom:30px;
}
.contact .contact-info-item .icon
{
    display: inline-block;
}
.contact .contact-info-item .icon .fa
{
    font-size: 25px;
    /* color: #302e4d; */
    color: var(--skin-color);
}   
.contact .contact-info-item .icon img
{   
    height: 8%;
    width: 8%;
}
.contact .contact-info-item h4
{
    font-size: 18px;
    font-weight: 700;
    color: #302e4d;
    text-transform: capitalize;
    margin: 15px 0 5px;
}
.contact .contact-info-item p
{
    font-size: 16px;
    line-height: 25px;
    color: #302e4d;
    font-weight: 400;

}
.contact .contact-form 
{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .col-6
{
    flex: 0 0 50%;
    max-width: 50%;
}
.contact .contact-form .col-12
{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .form-item
{   
    margin-bottom: 30px;
}
.contact .contact-form .form-item p
{  
    margin-top: 1px;
    margin-left: 20px;
    color: red;
}
.contact .contact-form .form-item .form-control 
{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    /* background: var(--bg-black-100); */
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    /* color: var(--text-black-700); */
    transition: all 0.3s ease;
}
.contact .contact-form .form-item .form-control:focus
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.contact .contact-form .form-item textarea.form-control
{
    height: 140px;
}
.contact .contact-form .btn
{
    height: 50px;
    padding: 0 50px;
}

.fa-facebook-square
{
  color: #3b5998;
  background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
  background-size: 55%;
  background-position: 70% 0;
  background-repeat: no-repeat;
  cursor: pointer;
}
.fa-github
{
  color: #302e4d;
  cursor: pointer;
}
.fa-google
{
   color: var(--text-black-900);
}

/*RESPONSIVE*/
@media (max-width: 991px)
{   
    .contact .contact-info-item
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 767px)
{   
    .contact .contact-form .col-6,
    .contact .contact-info-item
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
}