.service .container
{
    padding-bottom: 40px;
}
.service .service-item
{
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
} 
.service .service-item .service-item-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*RESPONSIVE*/
@media (max-width: 991px)
{   
    .service .service-item
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 767px)
{   
    .service .service-item
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
}