.portfolio .container
{
    padding-bottom: 40px;
    
}
.portfolio .portfolio-heading
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
.portfolio .portfolio-heading h2
{
    color: var(--text-black-900);
    font-weight: 500;
}
.portfolio .portfolio-item
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
    position: relative;
}
.portfolio .portfolio-item-inner
{
    /* border: 6px solid var(--bg-black-100); */
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease;
    position:relative;
}   
.portfolio .portfolio-item-inner:hover
{
    transform: scale(1.05);
    display: block;
}
.portfolio-img img:hover {
    opacity: 0.4;
}
.portfolio .portfolio-item-inner:hover .portfolio-img .links .view-demo,
.portfolio .portfolio-item-inner:hover .portfolio-img .links .view-git
{
    opacity: 1;
}
.portfolio .portfolio-item-inner .portfolio-img .links .view-demo
{
    border: 1.7px solid black;
    border-radius: 5px;
    padding: 2px 5px;
    position: absolute;
    left: 18%;
    bottom: 10%;
    font-size: 20px;
    color: black;
    opacity: 0;
    font-weight: 500;
}
.portfolio .portfolio-item-inner .portfolio-img .links .view-git
{
    border: 1.7px solid black;
    border-radius: 5px;
    padding: 2px 5px;
    position: absolute;
    right: 18%;
    bottom: 10%;
    font-size: 20px;
    color: black;
    opacity: 0;
    font-weight: 500;
}
.portfolio .portfolio-item-inner .portfolio-img .links .view-git:hover,
.portfolio .portfolio-item-inner .portfolio-img .links .view-demo:hover
{
    background-color: var(--skin-color);
}
.portfolio .portfolio-item-inner .portfolio-img .view-git .fa-github
{
    color: black;
}
.portfolio .portfolio-item-inner .portfolio-img img 
{
    height: 100%;
    width: 100%;
    display: block;
}
.portfolio-img:hover h2 {
    opacity: 1;
}
.portfolio-img h2 {
    position: absolute;
    display: flex;
    margin-top: 5px;
    top:0;
    left: 10px;
    opacity: 0;
    font-weight: 900;
    color: var(--skin-color);
}
.card-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--bg-black-100);
    cursor: pointer;
}   
.card-buttons .card-items a:hover i{
    color: var(--skin-color);
}
.card-buttons .card-items a:hover h3{
    color: var(--skin-color);
}
.card-items {
    display: flex;
    flex: 1;
    justify-content: center;
    color: var(--text-black-900);
    margin-left: 5px;
}
.card-items a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-black-900);
}
.card-items i {
    display: flex;
    justify-content: center;
    margin-left: 5px;
    align-items: center;
    color: var(--text-black-900);
}

/* MODALS //////////////////////////////////////////*/
.functions .col
{
    flex: 0 0 50%;
    max-width: 50%;
}
.horizontal-line
{   
    height: 3px;
    width: 100%;
    margin: -15px 0 10px 0;
    background-color: var(--skin-color);
}
.function-heading
{
    font-size: 20px;
    text-align: left;
    margin-left: 15px;
}
.programming-heading
{
    font-size: 20px;
    text-align: center;
    margin-left: 15px;
}
.main-programming-function
{
    margin-bottom: 10px;
}
.function-desc
{
    font-size: 15px;
}
.programming-tools img
{
    flex: 0 0 15%;
    max-width: 15%;
    margin-right:10px;
}
.functions .programming-heading .programming-demo-btn
{
    margin-top: -10px;
    display: flex;
    justify-content: center;
}
.functions .programming-heading .programming-demo-btn .fa-github
{
    color: black;
}
.functions .programming-heading .programming-demo-btn .demo,
.functions .programming-heading .programming-demo-btn .git
{
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px 5px;
    color: black;
}
.functions .programming-heading .programming-demo-btn .demo:hover,
.functions .programming-heading .programming-demo-btn .git:hover
{
    background-color: var(--skin-color);
}
.fa-xmark
{   
    cursor: pointer;
    float: right;
    font-size: 30px;
}


/*RESPONSIVE*/
@media (max-width: 1198px)
{
    .portfolio .portfolio-item-inner .portfolio-img .links .view-demo
    {
        position: absolute;
        left: 15%;
        opacity: 1;
    }
    .portfolio .portfolio-item-inner .portfolio-img .links .view-git
    {
        position: absolute;
        right: 15%;
        opacity: 1;
    }
}
@media (max-width: 991px)
{   
    .portfolio .portfolio-item
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 767px)
{   
    .portfolio .portfolio-item
    {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .modal .functions .col
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .functions .function-heading
    {
        font-size: 15px;
    }
    .functions .programming-heading .main-programming-function
    {
        font-size: 15px;
        margin-top: 20px;
    }
    .programming-tools
    {
        margin-left: 50px;
    }
    .programming-tools img 
    {
        flex: 0 0 15%;
        max-width: 15%;
        height: 35px;
        width: 10px;
    }
    .portfolio .portfolio-item-inner .portfolio-img .links .view-demo
    {
        position: absolute;
        left: 15%;
        opacity: 1;
    }
    .portfolio .portfolio-item-inner .portfolio-img .links .view-git
    {
        position: absolute;
        right: 15%;
        opacity: 1;
    }
   
}
@media (max-width: 500px)
{
    .programming-demo-btn .demo
    {
        margin-left: -25px;
    }
    .programming-tools 
    {
        margin-left: -3px;
    }
    #modal-modal-title
    {
        font-size: 20px;
    }

}
@media (max-width: 400px)
{
    #modal-modal-title
    {
        font-size: 18px;
    }
}