.about .about-content .accomplishments 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 75px;
}
@media (max-width: 403px) {
    .about .about-content .accomplishments {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}