.about .about-content .education
{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}
.education .education-item 
{   
    text-align: left;
}
.education .education-item img
{
    vertical-align: middle;
}
.education .education-item span
{
    padding-left: 10%;
    vertical-align: middle;
    font-weight: 600;
}
.education img
{
    height: 18%;
    width: 18%;
    margin-bottom: 10px;
    cursor: pointer;
}

@media (max-width: 767px)
{   
    .about .about-content .education
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width: 525px)
{   
    .education .education-item span
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
}